@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.login {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 50%;
}

.login h2 {
    text-align: center;
}

@keyframes slidein {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(20%, 0);
        background: rgb(225, 0, 0)
    }
    40% {
        transform: translate(-20%, 0);
        background: rgb(168.75, 0, 0)
    }
    60% {
        transform: translate(10%, 0);
        background: rgb(112.5, 0, 0)
    }
    80% {
        transform: translate(-10%, 0);
        background: rgb(56.25, 4, 4)
    }
    100% {
        transform: translate(0, 0);
        background: rgb(0, 0, 0)
    }
}

.login button {
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    position: relative;
    left: 30%;
    box-sizing: border-box;
    width: 40%;
    height: auto;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.login input {
    position: relative;
    left: 25%;
    box-sizing: border-box;
    width: 50%;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
}

.login button:hover {
    box-shadow: inset 0 0 0 50000px #7ebe8e;
    transition: 1s;
}